.main{

  margin-top: 100px;
}
.search-input{
  width: 400px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.logo-jpg{
  width: 300px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
 margin-right: auto;
}
/* --------------------------------- */
/* centering elements(horizontally) with margin */
/* 1.display:block */
/* 2.must have width */
/* margin-left/margin:right:auto */