body{
  margin: 20px;
   text-transform: capitalize; /*css inheritance property */
   text-align: center;
}
.card{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  /* center the card */
  width: 400px;
  margin-left: auto;
  margin-right: auto;

}
.dotted-blue-border{
  border: 1px dotted rgb(53, 53, 235);

}
.avatar{
  width: 150px;
}
